.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--surface-ground);
}

.main-content {
  flex: 1;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
}

.content-area {
  margin-top: 80px; // Altura do header
  padding: 1.5rem;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .content-area {
    padding: 1rem;
  }
}
